In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv('house_prices.csv')

In [4]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,N,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,N,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,N,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,N,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,N,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
x = df.iloc[:, 3:]
y = df.iloc[:, 2]

In [7]:
x = pd.get_dummies(drop_first = True, data = x)
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,grade,sqft_above,sqft_basement,yr_built,...,zipcode,lat,long,sqft_living15,sqft_lot15,waterfront_Y,condition_Fair,condition_Good,condition_Poor,condition_Very Good
0,3,1.00,1180,5650,1.0,0,7,1180,0,1955,...,98178,47.5112,-122.257,1340,5650,0,0,0,0,0
1,3,2.25,2570,7242,2.0,0,7,2170,400,1951,...,98125,47.7210,-122.319,1690,7639,0,0,0,0,0
2,2,1.00,770,10000,1.0,0,6,770,0,1933,...,98028,47.7379,-122.233,2720,8062,0,0,0,0,0
3,4,3.00,1960,5000,1.0,0,7,1050,910,1965,...,98136,47.5208,-122.393,1360,5000,0,0,0,0,1
4,3,2.00,1680,8080,1.0,0,8,1680,0,1987,...,98074,47.6168,-122.045,1800,7503,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,8,1530,0,2009,...,98103,47.6993,-122.346,1530,1509,0,0,0,0,0
21609,4,2.50,2310,5813,2.0,0,8,2310,0,2014,...,98146,47.5107,-122.362,1830,7200,0,0,0,0,0
21610,2,0.75,1020,1350,2.0,0,7,1020,0,2009,...,98144,47.5944,-122.299,1020,2007,0,0,0,0,0
21611,3,2.50,1600,2388,2.0,0,8,1600,0,2004,...,98027,47.5345,-122.069,1410,1287,0,0,0,0,0
21612,2,0.75,1020,1076,2.0,0,7,1020,0,2008,...,98144,47.5941,-122.299,1020,1357,0,0,0,0,0

In [8]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

In [10]:
x_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,grade,sqft_above,sqft_basement,yr_built,...,zipcode,lat,long,sqft_living15,sqft_lot15,waterfront_Y,condition_Fair,condition_Good,condition_Poor,condition_Very Good
15166,4,4.00,3860,67953,2.0,2,12,3860,0,1927,...,98177,47.7469,-122.378,4410,128066,0,0,1,0,0
13416,4,2.00,1920,7803,1.0,0,7,1080,840,1962,...,98155,47.7580,-122.325,1940,8147,0,0,0,0,0
206,3,2.50,2440,4587,2.0,0,8,2440,0,2010,...,98052,47.7073,-122.114,2750,4587,0,0,0,0,0
4286,3,2.75,1910,15508,1.0,0,8,1210,700,1984,...,98023,47.3128,-122.345,2450,7989,0,0,0,0,0
18065,4,2.50,2130,9100,1.0,0,8,1290,840,1978,...,98030,47.3815,-122.169,1770,7700,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2,1.00,720,4222,1.0,0,5,720,0,1942,...,98056,47.4965,-122.186,860,4785,0,0,1,0,0
18898,4,2.50,1820,9161,1.0,0,7,1220,600,1975,...,98058,47.4333,-122.168,1860,7650,0,0,1,0,0
11798,4,3.25,3440,7661,2.0,0,11,3440,0,2006,...,98029,47.5429,-121.995,3580,6478,0,0,0,0,0
6637,2,1.50,870,747,2.0,0,8,800,70,2004,...,98103,47.6967,-122.342,1710,1280,0,0,0,0,0
2575,3,2.50,2820,5001,2.0,0,9,2820,0,2004,...,98029,47.5533,-121.992,2660,5001,0,0,0,0,0

In [11]:
print(len(y_train), len(y))

17290 21613

In [13]:
model_forest = RandomForestRegressor(n_estimators = 5)
model_forest.fit(x_train, y_train)
print(model_forest.score(x_train, y_train))
print(model_forest.score(x_test, y_test))

0.9643088210747053
0.8596644422913122